<!DOCTYPE html>
<html>
	<head>
		<title>Improvmator</title>
		<script type="text/javascript" charset="utf-8" src="libs/src-min-noconflict/ace.js"></script>
		<script src="libs/angular/angular.min.js"></script>
		<script src="libs/angular-ui-ace/src/ui-ace.js"></script>
		<script src="options.js"></script>
		<link rel="stylesheet" href="styles.css"/>
		<link rel="stylesheet" type="text/css" href="libs/purecss/build/pure-min.css">
	</head>
	<body ng-app="app">
		<main ng-controller="WrapCtrl">
			<h1>Rules:</h1>
			Total rules: {{data.rules.length}}
			<section>
				<a class="pure-button pure-button-primary" ng-click="export()">
					export
				</a>
				<a class="pure-button pure-button-primary" ng-click="import()">
					import
				</a>
				<a class="pure-button pure-button-primary" ng-click="setDefaultRules()">setDefaultRules
				</a>
				
			</section>
			<section id="rules">
				<article ng-repeat="rule in data.rules track by rule.id">
					<input placeholder="url pattern" ng-model-options="{'debounce': 1000}" ng-model="rule.urlPattern" />
					<div ui-ace="aceOption" class="editor" ng-model-options="{'debounce': 1000}" ng-model="rule.script"></div>
					<a class="pure-button pure-button-primary" ng-click="removeRule(rule)">removeRule</a>
				</article>
				<article>
					<a class="pure-button pure-button-primary add-rule-btn" ng-click="addRule()">
						addRule
					</a>
				</article>
			</section>
		</main>
	</body>
</html>
